.slider_item {
  max-width: 100%;
  height: 450px;
}

.hero-container {
  margin-top: 1rem;
}

.slider_item-01 {
  background: linear-gradient(rgb(0, 13, 107, 0.1), rgb(0, 13, 107, 0.1)),
    url("../assets/data/img1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider_item-02 {
  background: linear-gradient(rgb(0, 13, 107, 0.1), rgb(0, 13, 107, 0.1)),
    url("../assets/data/box3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider_item-03 {
  background: linear-gradient(rgb(0, 13, 107, 0.1), rgb(0, 13, 107, 0.1)),
    url("../assets/data/img4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider_item-04 {
  background: linear-gradient(rgb(0, 13, 107, 0.1), rgb(0, 13, 107, 0.1)),
    url("../assets/data/box1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider_item-05 {
  background: linear-gradient(rgb(0, 13, 107, 0.1), rgb(0, 13, 107, 0.1)),
    url("../assets/data/img2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider_item-06 {
  background: linear-gradient(rgb(0, 13, 107, 0.1), rgb(0, 13, 107, 0.1)),
    url("../assets/data/box2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_slider {
  overflow: hidden;
  border-radius: 30px 0px 30px 0;
}

.slider_content {
  margin-top: 120px;
}

.slider_content h1 {
  font-size: 3rem;
  font-weight: 600;
}
.slider_content h5 {
  font-size: 1.2rem;
  padding-right: .8rem;
}

.app {
  color: #ee4d38;
}

.get_started_btn a {
  color: #e8e8fd !important;
}

@media only screen and (max-width: 992px) {
  .slider__item {
    height: 530px;
    max-width: 100vw;
  }

  .slider__content {
    margin-top: -50px;
  }

  .slider__content h1 {
    font-size: 2rem;
  }

  .get_started_btn{
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .slider__item {
    height: 450px;
  }

  .slider__content h1 {
    font-size: 1.5rem;
  }

  .get_started_btn {
    margin-bottom: 2rem;
  }

}



