.mover_item {
  border: 1px solid #1a194d20;
  padding: 20px;
  border-radius: 5px;
}

.mover_item-info span i {
  color: #ee4d38;
  font-size: 1.1rem;
}

.imgurl {
  border-radius: 20px 0px 20px 0px;
}

.mover_item-btn {
  border-radius: 0;
  border: none;
  outline: none;
  background: #1a194d;
  padding: 8px 0px;
}

.mover_item-btn a {
  text-decoration: none;
  color: #e8e8fd;
  font-weight: 500;
}

.mover_item-btn a:hover {
  color: #fff;
}
.mover_btn-details {
  background: #ee4d38;
  border-radius: 0px 4px 4px 0px;
}

.mover_btn-transport {
  border-radius: 4px 0px 0px 4px;
}

.mover_item-content h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

.mover_item-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .mover_item h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  
  .mover_item h6 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .mover_item-info {
    flex-wrap: wrap;
  }

  .mover_item-info span {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .mover_item-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .mover_item h4 {
    font-size: 1rem;
  }

  .mover_item h6 {
    font-size: 0.9rem;
  }

  .mover_item-info span {
    font-size: 0.7rem;
  }

  .mover_item-info span i {
    font-size: 0.9rem;
  }

  .mover_item-btn {
    font-size: 0.8rem;
  }
}